*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-size: .052vw;
	scroll-behavior: smooth;
} 

body{
		width: 100%;
		height: 100%;
		font-family: 'Montserrat', sans-serif;
	}

a{
	text-decoration: none;
}

.col{
		width: 80%;
		height: 600px;
		
		
	}

.header{
		position: relative;
		width: 1900rem;
		height: 250rem;
		padding-top: 30rem;
}

.menu-container{
		margin: 0 auto;
		width: 1710rem;
		height: 220rem;
		background-color: transparent;
		background:url('images/header.PNG') center/cover no-repeat
}

.menu{
		display: flex;
		width: 1030rem;
		height: 110rem;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 515rem;
		margin-right: 165rem;
		list-style: none;
		align-items: center;
}

.menu-links{
		display: flex;
		width: 1030rem;
		height: 110rem;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 515rem;
		margin-right: 165rem;
		list-style: none;
		align-items: center;
}

.menu > li, .menu-links > li {
		display: flex;
		width: 150rem;
		height: inherit;
		align-items: center;
		justify-content: center;
}

.menu > li{
		color:#BF0409;
		font-size: 33rem;
}

.menu-links > li > a > img {
		width: 50rem;
		height: 50rem;
}

.index-background.-main{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 1136rem;
	background: url('images/chromakey_video.jpg') center/cover no-repeat;
}

#main{
	position: relative;
	width: 100%;
	height: 850rem;
}

#main > *{
	position: absolute;
	width: 98%;
	height: 50rem;
	padding: 10rem 0 10rem 0;
	text-align: center;
	color: #BF0409;

}

#main > h1{
	top:20rem;
	font-size: 55rem;
}

#main > h2{
	bottom:20rem;
	font-size: 45rem;
}


/* !Studios */


#studios{
	position: relative;
	width: 100%;
	height: 900rem;
	padding:100rem 200rem;
	background: url('images/2084171401aa9acabe20b39587f3e94d.jpg') center/cover no-repeat;
}

#studios > .container{
	position: relative;
	width: 700rem;
	height: 579rem;
	background: url('images/H7b4dd2c7a862480ca192d7ae2cab2d7e8.jpg') center/cover no-repeat;
}

#studios > .container > .headname{
	position: absolute;
	width: 100%;
	top: 135rem;
	height: 80rem;
	background-color: white;
}

#studios > .container > .headname > span{
	font-size: 55rem;
	margin-left: 40rem;
}

#studios > .container > .discription{
	position: absolute;
	width: 40%;
	top: 250rem;
	left: 40rem;
	padding: 30rem;
	height: 200rem;
	overflow: auto;
	background-color: white;
	font-size: 35rem;
}

#studios .container .slider-studios{
	min-width: 0;
	position: relative;
	top: 200rem;
	left: 370rem;
	width: 1050rem;
	height: 350rem;
	
}

#studios .container .slider-studios .slider__item img{
	width: 330rem;
	height: 330rem;
}

#studios .slick-list{
	overflow: hidden;
}

#studios .slick-track{
	display: flex;
	justify-content: space-around;
}




#studios .container .slider-studios .slider__item{
	position: relative;
	width: 330rem;
	height: 330rem;
	cursor: pointer;
	
}

#studios .container .slider-studios .slick-active{
	transition: all 1s ease 0s;
}

#studios .container .slider-studios .slick-slide:not(.slick-current){
	opacity: 0.3;
	transform: scale(0.8);
}

#studios .container .slider-studios .slick-slide.slick-current + div{
	opacity: 0.6;
	transform: scale(0.9);
}

/* ?Actors */

#actors{
	position: relative;
	width: 100%;
	height: 900rem;
	padding:100rem 200rem;
	background: url('images/2084171401aa9acabe20b39587f3e94d.jpg') center/cover no-repeat;
}

#actors > .container{
	position: relative;
	margin: 0 auto;
	width: 900rem;
	height: 744rem;
	background: url('images/H7b4dd2c7a862480ca192d7ae2cab2d7e8.jpg') center/cover no-repeat;
}

#actors > .container > .headname{
	position: absolute;
	width: 100%;
	top: 135rem;
	height: 80rem;
	background-color: white;
}

#actors > .container > .headname > span{
	font-size: 55rem;
	margin-left: 40rem;
}

#actors > .container > .discription{
	position: absolute;
	width: 40%;
	top: 250rem;
	left: 40rem;
	padding: 30rem;
	height: 400rem;
	overflow: auto;
	background-color: white;
	font-size: 35rem;
}

#actors .container .slider-actors{
	min-width: 0;
	position: relative;
	top: 270rem;
	left: 370rem;
	width: 500rem;
	height: 330rem;
	
}

#actors .container .slider-actors .slider__item img{
	width: 330rem;
	height: 330rem;
}


#actors .container .slider-actors .slider__item{
	position: relative;
	margin: 0 auto;
	width: 330rem;
	height: 330rem;
	cursor: pointer;
	
}

#actors .container .slider-actors .slider__item img{
	margin: 0 auto;
	
}

#actors .slick-list{
	overflow: hidden;
}

#actors .slick-track{
	display: flex;
	justify-content: center;
}

#actors .slick-arrow::before, actors .slick-arrow::after{
	font-size: 49rem;
	background-color: black;
}

#actors .slick-next{
	margin-right: 85rem;
	z-index: 10;
}

#actors .slick-prev{
	margin-left: 60rem;
	z-index: 10;
}


/* !buffs    */


#buffs{
	position: relative;
	width: 100%;
	height: 900rem;
	padding:100rem 200rem;
	background: url('images/2084171401aa9acabe20b39587f3e94d.jpg') center/cover no-repeat;
}

#buffs > .container{
	position: relative;
	margin: 0 auto;
	width: 900rem;
	height: 744rem;
	background: url('images/H7b4dd2c7a862480ca192d7ae2cab2d7e8.jpg') center/cover no-repeat;
}

#buffs > .container > .headname{
	position: absolute;
	width: 100%;
	top: 135rem;
	height: 80rem;
	background-color: white;
}

#buffs > .container > .headname > span{
	font-size: 55rem;
	margin-left: 40rem;
}

#buffs > .container > .discription{
	position: absolute;
	width: 40%;
	top: 250rem;
	left: 40rem;
	padding: 30rem;
	height: 400rem;
	overflow: auto;
	background-color: white;
	font-size: 35rem;
}

#buffs .container .slider-buffs{
	min-width: 0;
	position: relative;
	top: 270rem;
	left: 370rem;
	width: 500rem;
	height: 330rem;
	
}

#buffs .container .slider-buffs .slider__item img{
	width: 330rem;
	height: 330rem;
}


#buffs .container .slider-buffs .slider__item{
	position: relative;
	margin: 0 auto;
	width: 330rem;
	height: 330rem;
	cursor: pointer;
	
}

#buffs .container .slider-buffs .slider__item img{
	margin: 0 auto;
	
}

#buffs .slick-list{
	overflow: hidden;
}

#buffs .slick-track{
	display: flex;
	justify-content: center;
}

#buffs .slick-arrow::before, buffs .slick-arrow::after{
	font-size: 49rem;
	background-color: black;
}

#buffs .slick-next{
	margin-right: 85rem;
	z-index: 10;
}

#buffs .slick-prev{
	margin-left: 60rem;
	z-index: 10;
}

/*   ?crafts   */

#crafts{
	width: 100%;
	height: 1000rem;
	background-color: black;
	padding-top: 50rem;
}

#crafts .container{
	position: relative;
	margin: 0 auto;
	width: 1500rem;
	height: 894rem;
	background: url('images/scheme.jpg') center/cover no-repeat;
}



/*   ! crafts-scheme   */

.scheme-el{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #BF0409;
	cursor: pointer;
	color: white;
}

.scheme-el:hover{
	background-color: #29A1D4;
}

.top-square{
	top: 44rem;
	width: 200rem;
	height: 200rem;
	font-size: 15rem;
	text-align: center;
}

.el-1{left: 157rem;}
.el-2{left: 375rem;}
.el-3{left: 660rem;}
.el-4{left: 935rem;}
.el-5{left: 1150rem;}

.el-6{top: 287rem;
		left: 200rem;
		width: 150rem;
		height: 50rem;
		border-radius: 15rem;
		font-size: 15rem;
}
.el-7{

		top: 380rem;
		left: 150rem;
		width: 235rem;
		height: 130rem;
		border-radius: 20rem;
		font-size: 25rem;
}
.el-8{
	top: 295rem;
	left: 630rem;
	width: 65rem;
	height: 65rem;
	transform: rotate(45deg);
	font-size: 15rem;}

.el-8 p{
		transform: rotate(-45deg);
		}

.el-9{
	top: 440rem;
	left: 576rem;
	width: 176rem;
	height: 170rem;
	font-size: 15rem;}

.el-10{}

.el-11{
	top: 435rem;
	left: 978rem;
	width: 147rem;
	height: 93rem;
	border-radius: 20rem;
	font-size: 13rem;

}


.el-12{}
.el-13{}
.el-14{}